body{
    background-color: navy;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#gamePanel{
    display: flex;
}
#players{
    display: flex;
    justify-content: space-between;
}
#board{
    border: 5px solid black;
    display:flex;
    flex-direction: column;

}
#log{
    display:flex;
}
.row{
    display: flex;

}
.score{
    color: white;
}
.tile{
    width: 150px;
    height: 150px;
    background-color: darkcyan;
    border: 5px solid black;

}

.X{
    background-image: url("../assets/X.png");
}

.O{
    background-image: url("../assets/O.png");
}
