body{
    background-color: navy;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
span{
    color: white;
}
#gamePanel{
    display: flex;
    flex-direction: column;
}
#players{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#player{
    display: flex;
    justify-content: center;
}
#board{
    display:flex;
    flex-direction: column;

}
#log{
    display:flex;
}
.row{
    display: flex;

}
h3{
    color: white;
    margin: 5px;
}
.tile{
    width: 150px;
    height: 150px;
    background-color: darkcyan;
    border: 5px solid black;

}
.top{
    border-top: 0;
}
.bottom{
    border-bottom: 0;
}
.left{
    border-left: 0;
}
.right{
    border-right: 0;
}
.X{
    background-image: url("../assets/X.png");
}

.O{
    background-image: url("../assets/O.png");
}
